nav {
  font-family: "Open Sans", sans-serif;
  /*   font-size: 1.5em; */
  text-align: center;
}

img {
	max-height: 500px;
	max-width: 400px;
  padding: 5px;
}

.image.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
