/* *temp */
.construction {
  font-size: 2em;
  margin-bottom: -3px;
  text-align: center;
}
/* *temp */
/*
@media (prefers-color-scheme: dark) {
	body {
	  color: #eee;
	  background: #121212;
	}*/

/* nav menu */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(32, 32, 32);
  }
  li {
	display: inline;
	float: left;
  }
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  li.about {
	float: inline-end;
  }
  

/*Dark Mode*/
body {
  background-color: rgb(222, 222, 222);
  color: black;
  margin: 0;
  transition: background 2s;
}

.dark-mode {
  background-color: rgb(48, 48, 48);
  color: rgb(230, 230, 230);
  transition: background 0.5s;
}

.switch {
  /* display: inline-block; */
  float: inline-end;
  height: 34px;
  position: relative;
  top: 7px;
  width: 60px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #082035;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0c1a25;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* dark mode end */

header {
  font-family: "Open Sans", sans-serif;
  /*   font-size: 1.5em; */
  text-align: center;
}

header h3 {
  font-weight: 300;
}

.home {
  text-decoration: underline;
}

hr {
  text-align: center;
}

.rounded {
  border-radius: 3px;
  border-top: 4px solid #bbb;
  margin: auto;
  width: 35%;
}

